@import "normalizer.css";
@import "variables.css";
body {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  font-family: Rubik;
  font-weight: 400;
  font-size: var(--subtitle_fs);
  color: var(--color-title);
}

span, p {
  font-family: Rubik;
  font-weight: 400;
  font-size: 7.517px;
  color: var(--color-text);
}

main {
  width: 1440px;
  padding: 50px 150px;
  background-color: rgba(255, 255, 255, 0);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
header .logo span {
  color: #0B132A;
  font-size: 20px;
  font-weight: 700;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
header nav .nav_link {
  color: var(--color-text);
  font-size: var(--button_fs);
}
header .register {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
header .register .button_sign_in {
  font-size: var(--button_fs);
}
header .register .button_sign_up {
  font-size: var(--button_fs);
  color: #F53838;
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #F53855;
}

.title_text {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 555px 1fr;
  gap: 40px;
}
.title_text .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.title_text .text h1 {
  font-size: 50px;
  font-weight: 500;
}
.title_text .text h1 a {
  font-weight: 700;
}
.title_text .text p {
  font-size: var(--button_fs);
}
.title_text .text button {
  background-color: #F53838;
  color: white;
  font-size: var(--button_fs);
  width: 250px;
  height: 60px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 28px 50px -8px rgba(245, 56, 56, 0.3);
}
.title_text img {
  display: block;
}

.advantages {
  margin-top: 103px;
  background-color: #FFF;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0 40px 0;
  box-shadow: 0 28px 50px -8px rgba(13, 16, 37, 0.3);
}
.advantages_card {
  box-sizing: content-box;
  padding: 30px 130px 30px 91px;
  display: flex;
  flex-direction: row;
  gap: 36.5px;
  border-right: 2px solid var(--color-text);
  border-radius: 1px;
}
.advantages_card_description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.advantages_card_description h2 {
  font-size: var(--subtitle_fs);
}
.advantages_card_description span {
  font-size: 20px;
}
.advantages_card:last-child {
  border: none;
}

.offer {
  width: 1440px;
  padding: 50px 150px 150px 150px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  gap: 170px;
}
.offer_text {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.offer_text h2 {
  font-size: var(--title_fs);
  font-weight: 500;
}
.offer_text span {
  font-size: var(--button_fs);
}
.offer_text .we_offer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.offer_text .we_offer_link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.offer_text .we_offer_link span {
  font-size: 14px;
}

.service_packages {
  width: 1440px;
  padding: 80px 150px 150px 150px;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.service_packages .service_packages_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}
.service_packages .service_packages_text h2 {
  font-size: var(--title_fs);
  font-weight: 500;
}
.service_packages .service_packages_text span {
  text-align: center;
  width: 555px;
  font-size: var(--button_fs);
}
.service_packages .service_packages_container {
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service_packages .service_packages_container .service_package {
  width: 330px;
  height: 100%;
  background-color: #FFF;
  border: 2px solid var(--color-text);
  border-radius: 10px;
  padding: 80px 70px 50px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.service_packages .service_packages_container .service_package_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.service_packages .service_packages_container .service_package_text .service_package_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service_packages .service_packages_container .service_package_text .service_package_description .we_offer_link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.service_packages .service_packages_container .service_package_text .service_package_description .we_offer_link span {
  font-size: 14px;
}
.service_packages .service_packages_container .service_package .price {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.service_packages .service_packages_container .service_package .price_on_month {
  display: flex;
  flex-direction: row;
}
.service_packages .service_packages_container .service_package .price_on_month span:first-child {
  color: var(--color-title);
  font-size: var(--subtitle_fs);
  font-weight: 500;
}
.service_packages .service_packages_container .service_package .price_on_month span:last-child {
  color: var(--color-text);
  font-size: var(--subtitle_fs);
  font-weight: 500;
}
.service_packages .service_packages_container .service_package .price button {
  color: var(--color-button);
  border: 2px solid var(--color-button);
  font-size: var(--button_fs);
  border-radius: 50px;
  padding: 13px 60px;
}
.service_packages .service_packages_container .service_package:last-child {
  border-color: var(--color-button);
}
.service_packages .service_packages_container .service_package:last-child .price button {
  background-color: #F53838;
  color: white;
  box-shadow: 0 28px 50px -8px rgba(245, 56, 56, 0.3);
}

.net {
  width: 1440px;
  padding: 100px 150px 50px 150px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.net_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.net_text h2 {
  font-size: var(--title_fs);
  font-weight: 500;
}
.net_text span {
  text-align: center;
  width: 555px;
  font-size: var(--button_fs);
}
.net_text span a {
  font-weight: 500;
}
.net img {
  margin-top: 110px;
}
.net .card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.net .card img {
  margin: 0;
}

.reviews {
  position: relative;
  width: 1440px;
  padding: 0 150px 300px 150px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}
.reviews_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.reviews_text h2 {
  font-size: var(--title_fs);
  font-weight: 500;
  width: 450px;
  text-align: center;
}
.reviews_text span {
  text-align: center;
  width: 555px;
  font-size: var(--button_fs);
  text-align: center;
}
.reviews .reviews_cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 230px;
  width: 100%;
}
.reviews .reviews_cards .review_card {
  width: 360px;
  height: 230px;
  border: 2px solid var(--color-text);
  border-radius: 10px;
  padding: 30px;
}
.reviews .reviews_cards .review_card .person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.reviews .reviews_cards .review_card .person .person_info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.reviews .reviews_cards .review_card .person .person_info div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.reviews .reviews_cards .review_card .person .person_info div h2 {
  font-weight: 500;
  font-size: 18px;
}
.reviews .reviews_cards .review_card .person .person_info div span {
  font-size: 14px;
  color: var(--color-text);
}
.reviews .reviews_cards .review_card .person div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.reviews .reviews_cards .review_card span {
  color: var(--color-title);
  font-size: var(--button_fs);
}
.reviews .reviews_cards .review_card:first-child {
  border-color: var(--color-button);
}
.reviews .special_offer {
  background-color: #FFF;
  box-shadow: 0 28px 50px -8px rgba(13, 16, 37, 0.3);
  border-radius: 10px;
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 70px;
  position: absolute;
  bottom: -125px;
}
.reviews .special_offer .offer_description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviews .special_offer .offer_description h2 {
  font-size: 35px;
  font-weight: 500;
  width: 370px;
}
.reviews .special_offer .offer_description span {
  font-size: var(--button_fs);
}
.reviews .special_offer button {
  background-color: #F53838;
  color: white;
  font-size: var(--button_fs);
  width: 250px;
  height: 60px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 28px 50px -8px rgba(245, 56, 56, 0.3);
}

footer {
  width: 1440px;
  height: 600px;
  padding: 185px 150px 100px 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #F8F8F8;
}
footer .contacts {
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 30px;
}
footer .contacts .about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .contacts .about .logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
footer .contacts .about .logo span {
  color: #0B132A;
  font-size: 20px;
  font-weight: 700;
}
footer .contacts .about span {
  font-size: var(--button_fs);
}
footer .contacts .about span a {
  color: var(--color-text);
  font-weight: 500;
}
footer .contacts .social_media span {
  font-size: var(--button_fs);
}
footer .contacts .social_media span a {
  color: var(--color-text);
  font-weight: 500;
}
footer .cards {
  display: flex;
  flex-direction: row;
  gap: 120px;
}
footer .cards .card h2 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}
footer .cards .card .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .cards .card .links a {
  color: var(--color-text);
  font-size: var(--button_fs);
}

/*# sourceMappingURL=main_style.css.map */
