@import "normalizer.css";
@import "variables.css";

body {
    background-color: rgba(255, 255, 255, 0.00);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2 {
    font-family: Rubik;
    font-weight: 400;
    font-size: 25px;
    color:  var(--color-title);
}
span, p {
    font-family: Rubik;
    font-weight: 400;
    font-size: 7.517px;
    color: var(--color-text);
}
main {
    width: 1440px;
    padding: 50px 150px;
    background-color: rgba(255, 255, 255, 0.00);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        span {
            color: #0B132A;
            font-size: 20px;
            font-weight: 700;
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        .nav_link {
            color: var(--color-text);
            font-size: 16px;
        }
    }

    .register {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .button_sign_in {
            font-size: 16px;
        }
        .button_sign_up {
            font-size: 16px;
            color: #F53838;
            width: 150px;
            height: 45px;
            border-radius: 50px;
            border: 1px solid #F53855;
        }
    } 
}
.title_text {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 555px 1fr;
    gap: 40px;

    .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        h1 {
            font-size: 50px;
            font-weight: 500;
            a {
                font-weight: 700;
            }
        }
        p {
            font-size: 16px;
        }
        button {
            background-color: #F53838;
            color: white;
            font-size: 16px;
            width: 250px;
            height: 60px;
            border-radius: 10px;
            margin-top: 30px;
            box-shadow: 0 28px 50px -8px rgba(245, 56, 56, 0.3);
        }
    }

    img {
        display: block;
    }
}

.advantages {
    margin-top: 103px;
    background-color: #FFF;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0 40px 0;
    box-shadow: 0 28px 50px -8px rgba(13, 16, 37, 0.3);
    &_card {
        box-sizing: content-box;
        padding: 30px 130px 30px 91px;
        display: flex;
        flex-direction: row;
        gap:36.5px;
        border-right: 2px solid var(--color-text);
        border-radius: 1px;

        &_description {
            display: flex;
            flex-direction: column;
            gap: 5px;
            h2 {
                font-size: 25px;
            }
            span {
                font-size: 20px;
            }
        }
    }
    &_card:last-child {
        border: none;
    } 
}
.offer {
    width: 1440px;
    padding: 50px 150px 150px 150px;
    background-color: rgba(255, 255, 255, 0.00);
    display: flex;
    flex-direction: row;
    gap: 170px;

    &_text {
        width: 430px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        h2 {
            font-size: 35px;
            font-weight: 500;
        }
        span {
            font-size: 16px;
        }
        .we_offer {
            display: flex;
            flex-direction: column;
            gap: 15px;
            &_link {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                span {
                    font-size: 14px;
                }
            }
        }
    }
    
}
.service_packages {
    width: 1440px;
    padding: 80px 150px 150px 150px;
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
    .service_packages_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 60px;
        h2 {
            font-size: 35px;
            font-weight: 500;
        }
        span {
            text-align: center;
            width: 555px;
            font-size: 16px;
        }
    }
    .service_packages_container {
        width: 100%;
        height: 760px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;


        .service_package {
            width: 330px;
            height: 100%;
            background-color: #FFF;
            border: 2px solid var(--color-text);
            border-radius: 10px;
            padding: 80px 70px 50px 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            &_text {
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                
                .service_package_description {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .we_offer_link {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        align-items: center;
                        span {
                        font-size: 14px;
                        }
                    }
                }
            }
            .price {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                &_on_month {
                    display: flex;
                    flex-direction: row;
                    span:first-child {
                        color: var(--color-title);
                        font-size: 25px;
                        font-weight: 500;
                    }
                    span:last-child {
                        color: var(--color-text);
                        font-size: 25px;
                        font-weight: 500;
                    }
                }
                button {
                    color: var(--color-button);
                    border: 2px solid var(--color-button);
                    font-size: 16px;
                    border-radius: 50px;
                    padding: 13px 60px ;
                }
            }
        }
        .service_package:last-child {
            border-color: var(--color-button);
            .price button {
                background-color: #F53838;
                color: white;
                box-shadow: 0 28px 50px -8px rgba(245, 56, 56, 0.3);
            }
        }
    }
}
.net {
    width: 1440px;
    padding: 100px 150px 50px 150px;
    background-color: rgba(255, 255, 255, 0.00);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        h2 {
            font-size: 35px;
            font-weight: 500;
        }
        span {
            text-align: center;
            width: 555px;
            font-size: 16px;
            a {
                font-weight: 500;
            }
        }
    }
    img {
        margin-top: 110px;
    }
    .card {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img {
            margin: 0;
        }

    }
}
.reviews {
    position: relative;
    width: 1440px;
    padding: 0 150px 300px 150px;
    background-color: rgba(255, 255, 255, 0.00);
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        h2 {
            font-size: 35px;
            font-weight: 500;
            width: 450px;
            text-align: center;
        }
        span {
            text-align: center;
            width: 555px;
            font-size: 16px;
            text-align: center;
        }
    }
    .reviews_cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 230px;
        width: 100%;
        .review_card {
            width: 360px;
            height: 230px;
            border: 2px solid var(--color-text);
            border-radius: 10px;
            padding: 30px;
            .person {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .person_info {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    align-items: center;
                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        h2 {
                            font-weight: 500;
                            font-size: 18px;
                        }
                        span {
                            font-size: 14px;
                            color: var(--color-text);
                        }
                    }
                }
                div {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }
            }
            span {
                color: var(--color-title);
                font-size: 16px;
            }
        }
        .review_card:first-child {
            border-color: var(--color-button);
        }
    }
    .special_offer {
        background-color: #FFF;
        box-shadow: 0 28px 50px -8px rgba(13, 16, 37, 0.3);
        border-radius: 10px;
        width: 1140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 60px 70px;
        position: absolute;
        bottom: -125px;

        .offer_description {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h2 {
                font-size: 35px;
                font-weight: 500;
                width: 370px;
            }
            span {
                font-size: 16px;
            }
        }

        button {
            background-color: #F53838;
            width: 250px;
            color: white;
            font-size: 16px;
            width: 250px;
            height: 60px;
            border-radius: 10px;
            margin-top: 30px;
            box-shadow: 0 28px 50px -8px rgba(245, 56, 56, 0.3);
        }
    }

}
footer {
    width: 1440px;
    height: 600px;
    padding: 185px 150px 100px 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #F8F8F8;
    .contacts {
        display: flex;
        flex-direction: column;
        width: 340px;
        gap: 30px;


        .about {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .logo{
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                span {
                    color: #0B132A;
                    font-size: 20px;
                    font-weight: 700;
                }
            }
            span {
                font-size: 16px;
                a {
                    color: var(--color-text);
                    font-weight: 500;
                }
            }

        }
        .social_media {
            span {
                font-size: 16px;
                a {
                    color: var(--color-text);
                    font-weight: 500;
                }
            }
        }
        
    }


    .cards {
        display: flex;
        flex-direction: row;
        gap: 120px;
        .card {
            h2 {
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 20px;
            }
            .links {
                display: flex;
                flex-direction: column;
                gap: 10px;
                a {
                    color: var(--color-text);
                    font-size: 16px;
                }
            }
        }
    }
}




