:root {
    --color-button: #F53838;
    --color-text:#4F5665;
    --color-title:#0B132A;
}


@font-face {
    font-weight: 700;
    font-family: Rubik;
    src: url('../fonts/Rubik-Bold.ttf');
}
@font-face {
    font-weight: 400;
    font-family: Rubik;
    src: url('../fonts/Rubik-Regular.ttf');
}
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
button, a {
    text-decoration: none;
    border: 0;
    background: none;
    color: black;
    font-family: Rubik;

}
body {
    background-color: rgba(255, 255, 255, 0.00);
}
h1 {
    font-family: Rubik;
    font-weight: 400;
    font-size: 23.491px;
    color:  var(--color-title);
}
span, p {
    font-family: Rubik;
    font-weight: 400;
    font-size: 7.517px;
    color: var(--color-text);
}
main {
    width: 1440px;
    padding: 50px 150px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        span {
            color: #0B132A;
            font-size: 20px;
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        .nav_link {
            color: var(--color-text);
            font-size: 16px;
        }
    }

    .register {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .button_sign_in {
            font-size: 16px;
        }
        .button_sign_up {
            font-size: 16px;
            color: #F53838;
            width: 150px;
            height: 45px;
            border-radius: 50px;
            border: 1px solid #F53855;
        }
    } 
}
.title_text {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 555px 1fr;
    gap: 40px;

    .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        h1 {
            font-size: 50px;
            a {
                font-weight: 700;
            }
        }
        p {
            font-size: 16px;
        }
        button {
            background-color: #F53838;
            color: white;
            font-size: 16px;
            width: 250px;
            height: 60px;
            border-radius: 10px;
            margin-top: 30px;
        }
    }

    img {
        display: block;
    }
}








