:root {
    --color-button: #F53838;
    --color-text:#4F5665;
    --color-title:#0B132A;
}
@font-face {
    font-weight: 700;
    font-family: Rubik;
    src: url('../fonts/Rubik-Bold.ttf');
}
@font-face {
    font-weight: 400;
    font-family: Rubik;
    src: url('../fonts/Rubik-Regular.ttf');
}
@font-face {
    font-weight: 500;
    font-family: Rubik;
    src: url('../fonts/Rubik-Medium.ttf');
}
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
button, a {
    text-decoration: none;
    border: 0;
    background: none;
    color: black;
    font-family: Rubik;

}
body {
    background-color: rgba(255, 255, 255, 0.00);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2 {
    font-family: Rubik;
    font-weight: 400;
    font-size: 25px;
    color:  var(--color-title);
}
span, p {
    font-family: Rubik;
    font-weight: 400;
    font-size: 7.517px;
    color: var(--color-text);
}
main {
    width: 1440px;
    padding: 50px 150px;
    background-color: rgba(255, 255, 255, 0.00);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        span {
            color: #0B132A;
            font-size: 20px;
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        .nav_link {
            color: var(--color-text);
            font-size: 16px;
        }
    }

    .register {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .button_sign_in {
            font-size: 16px;
        }
        .button_sign_up {
            font-size: 16px;
            color: #F53838;
            width: 150px;
            height: 45px;
            border-radius: 50px;
            border: 1px solid #F53855;
        }
    } 
}
.title_text {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 555px 1fr;
    gap: 40px;

    .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        h1 {
            font-size: 50px;
            font-weight: 500;
            a {
                font-weight: 700;
            }
        }
        p {
            font-size: 16px;
        }
        button {
            background-color: #F53838;
            color: white;
            font-size: 16px;
            width: 250px;
            height: 60px;
            border-radius: 10px;
            margin-top: 30px;
            box-shadow: 0px 28px 50px -8px rgba(245, 56, 56, 0.3);
        }
    }

    img {
        display: block;
    }
}

.advantages {
    margin-top: 103px;
    background-color: #FFF;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0px 40px 0px;
    box-shadow: 0px 28px 50px -8px rgba(13, 16, 37, 0.3);

    .advantages_card {
        box-sizing: content-box;
        padding: 30px 130px 30px 91px;
        display: flex;
        flex-direction: row;
        gap:36.5px;
        border-right: 2px solid var(--color-text);
        border-radius: 1px;

        .advantages_card_description {
            display: flex;
            flex-direction: column;
            gap: 5px;
            h2 {
                font-size: 25px;
            }
            span {
                font-size: 20px;
            }
        }
    }
    .advantages_card:last-child {
        border: none;
    } 
}
.offer {
    width: 1440px;
    padding: 50px 150px 150px 150px;
    background-color: rgba(255, 255, 255, 0.00);
    display: flex;
    flex-direction: row;
    gap: 170px;

    .offer_text {
        width: 430px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        h1 {
            font-size: 35px;
            font-weight: 500;
        }
        span {
            font-size: 16px;
        }
        .we_offer {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .we_offer_link {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                span {
                    font-size: 14px;
                }
            }
        }
    }
    
}
.service_packages {
    width: 1440px;
    padding: 80px 150px 150px 150px;
    background-color: rgba(255, 255, 255, 0.00);
    .service_packages_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 60px;
        h1 {
            font-size: 35px;
            font-weight: 500;
        }
        span {
            text-align: center;
            width: 555px;
            font-size: 16px;
        }
    }
    .service_packages_container {
        height: 760px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;


        .service_package {
            width: 330px;
            height: 100%;
            background-color: #FFF;
            border: 2px solid var(--color-text);
            border-radius: 10px;
            padding: 80px 70px 50px 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .service_package_text {
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                
                .service_package_description {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .we_offer_link {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        align-items: center;
                        span {
                        font-size: 14px;
                        }
                    }
                }
            }
            .price {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                .price_on_month {
                    display: flex;
                    flex-direction: row;
                    span:first-child {
                        color: var(--color-title);
                        font-size: 25px;
                        font-weight: 500;
                    }
                    span:last-child {
                        color: var(--color-text);
                        font-size: 25px;
                        font-weight: 500;
                    }
                }
                button {
                    color: var(--color-button);
                    border: 2px solid var(--color-button);
                    font-size: 16px;
                    border-radius: 50px;
                    padding: 13px 60px ;
                }
            }
        }
        .service_package:last-child {
            border-color: var(--color-button);
            .price button {
                background-color: #F53838;
                color: white;
                box-shadow: 0px 28px 50px -8px rgba(245, 56, 56, 0.3);
            }
        }
    }







}






